<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="website icon" href="/static/images/youtube-logo-youtube-logo-transp.png">
</head>
<body>
    <nav>
        <section class="NavPart1">
            <div class="logoWrapper">
                <div class="DropDownMenu"></div>
                <div class="logoDiv">
                    <img src="" alt="">
                </div>
            </div>
        </section>
        <section class="NavPart2">
            <div class="SearchBarWrapper">
                <div class="SearchBar">
                    <input type="search" name="" placeholder="Search..." id="">
                </div>
                <div class="VoiceBar"></div>
            </div>
        </section>
        <section class="NavPart3">
            <div class="ProfileWrapper">
                <div class="Create"></div>
                <div class="Notification"></div>
                <div class="Profile"></div>
            </div>
        </section>
    </nav>

    <script src="/static/js/home.js"></script>
</body>
</html>